@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.CatalogueItem>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.AjaxItemSearchTargetId = "catalogItemListAjax";
    ViewBag.AjaxItemSearchAction = "ItemIndex";

    RouteValueDictionary sd = new RouteValueDictionary();
    sd.Add("catalogueId", ViewBag.CatalogueId);
    ViewBag.AjaxSearchRouteValueDictionary = sd;
}
@if (ViewBag.catalogueId > 0)
{
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default btn-sm" href="@Url.Action("ItemCreate", new { catalogueId = ViewBag.catalogueId })"><i class="fa fa-plus "></i> @GeneralResources.CreateNewItem</a>
        </div>
        @Html.Partial("AjaxItemSearchForm")
    </div>
}
@Html.Partial("ItemIndex", Model)
 