@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.User>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers

@{
    AjaxOptions ajaxOptions = new AjaxOptions() { UpdateTargetId = "userList", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "showBusy", OnComplete = "hideBusy" };
}
<div class="row">
    @using (Ajax.BeginForm("AddUser", "Roles", new { roleId = ViewBag.Id }, ajaxOptions))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4">
                <input name="userId" id="userId" type="hidden" value="0" />
                <input class="form-control text-box single-line ap-autocomplete" id="userSearch" name="userSearch" />
            </div>
            <input type="submit" value="@GeneralResources.Add" class="btn btn-primary" />
        </div>
    }
    </div>
<div class="ap-busyParent">
    <div id="itemListLoading"></div>
    @Html.Partial("UserList", Model)
</div>

    @using (Html.Delayed())
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#userSearch').autocomplete(
                  {
                      source: '@Url.Action("UserSearch", "Roles", new { roleId = ViewBag.Id })',
                      select: function (event, ui) {
                          $('#userId').val(ui.item.key);
                      },
                      change: function (event, ui) {
                          if (ui.item != null) {
                              $('#userId').val(ui.item.key);
                          } else {
                              $('#userId').val(0);
                              $('#userSearch').val('');
                          }
                      }
                  });
            })
        </script>
    }

@using (Html.Delayed(null, "itemListLoading"))
{
    <script type="text/javascript">

        function showBusy() {
            $("#itemListLoading").show();
        }
        function hideBusy() {
            $("#itemListLoading").hide();
        }

    </script>
}
