@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.CartItem>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.AjaxItemSearchTargetId = "itemListAjax";
    ViewBag.AjaxItemSearchAction = "ItemIndex";

    RouteValueDictionary sd = new RouteValueDictionary();
    sd.Add("cartId", ViewBag.ParentId);
    ViewBag.AjaxSearchRouteValueDictionary = sd;
}
@if (ViewBag.ParentId > 0)
{
    <div class="row">
        @Html.Partial("AjaxItemSearchForm")
    </div>
}
@Html.Partial("ItemIndex", Model)
