@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Tenant>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@{
    ViewBag.Title = "Tenant" + " list";
}
@section Title{
    <h2>@GeneralResources.ResourceManager.GetString("Tenant")@GeneralResources.List</h2>
}
<div class="row">
    <div class="col-md-2">
        @Html.SecuredButton("Create", Url.Action("Create"))
    </div>
    @Html.Partial("SearchForm")
</div>
@{ ViewBag.ShowEditLinks = true; }
@Html.Partial("TenantList", Model)
