@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Tenant>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@{
    ViewBag.AjaxItemSearchTargetId = "tenantListAjax";
    ViewBag.AjaxItemSearchAction = "ItemIndex";

    RouteValueDictionary sd = new RouteValueDictionary();
    sd.Add("parentId", ViewBag.ParentId);
    ViewBag.AjaxSearchRouteValueDictionary = sd;
}
@if (!string.IsNullOrEmpty(ViewBag.ParentId))
{
    <div class="row">
        @Html.Partial("AjaxItemSearchForm")
    </div>
}
<div class="ap-busyParent">
    <div id="itemListLoading"></div>
    @Html.Partial("ItemIndex", Model)
</div>

@using (Html.Delayed(null, "itemListLoading"))
{
    <script type="text/javascript">

        function showBusy() {
            $("#itemListLoading").show();
        }
        function hideBusy() {
            $("#itemListLoading").hide();
        }

    </script>
}
