@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Ace>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@{
    ViewBag.AjaxItemSearchTargetId = "aceListAjax";
    ViewBag.AjaxItemSearchAction = "ItemIndex";

    RouteValueDictionary sd = new RouteValueDictionary();
    sd.Add("aclId", ViewBag.ParentId);
    ViewBag.AjaxSearchRouteValueDictionary = sd;
}
@if (ViewBag.ParentId > 0)
{
    <div class="row">
        <div class="col-md-2">
            @Html.SecuredButton("Create", Url.Action("Create", "Aces", new { AclId = ViewBag.AclId }))
        </div>
        @Html.Partial("AjaxItemSearchForm")
    </div>
}
@Html.Partial("AceList", Model)

@using (Html.Delayed(null, "itemListLoading"))
{
    <script type="text/javascript">

        function showBusy() {
            $("#itemListLoading").show();
        }
        function hideBusy() {
            $("#itemListLoading").hide();
        }

    </script>
}
