@model biz.dfch.CS.Appclusive.UI.Models.Core.ManagementUri

@{
    ViewBag.Title = "Management credential uri";
}

@section Title{
    <h2>New</h2>
    <h4>Create Management uri</h4>
}

<div>
    <hr />
    <div>      
        @Html.Partial("FormPartial", Model)
    </div>
    <p>
        <hr />
        <a class="btn btn-default btn-sm" href="@Url.Action("Index")"><i class="fa fa-arrow-left "></i> Cancel</a>
    </p>
</div>