@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.ManagementUri>
@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@{
    ViewBag.Title = "Management Uris";
}
@section Title{
    <h2>@GeneralResources.ResourceManager.GetString("ManagementUri")@GeneralResources.List</h2>
}

<p>
    <a class="btn btn-default btn-sm" href="@Url.Action("Create")"><i class="fa fa-plus "></i> @GeneralResources.CreateNew</a>
</p>
@{ ViewBag.ShowEditLinks = true; }
@Html.Partial("ManagementUriList", Model)
