@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.ManagementUri>

@{
    ViewBag.Title = "Management Uris";
}
@section Title{
    <h2>Management Uris</h2>
}

<p>
    <a class="btn btn-default btn-sm" href="@Url.Action("Create")"><i class="fa fa-plus "></i> Create New</a>
</p>
@Html.Partial("ManagementUriList", Model)
