@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/Neue Frutiger Com Regular.woff');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Frutiger, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dropdown-menu {
    font-size: 18px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-inverse .navbar-brand {
    color: #ececec;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ececec;
}

.ap-nav-tenant {
    right: 0px;
    color: black;
    padding-right: 15px;
    position: absolute;
    z-index: 100;
    width: 500px;
    text-align: right;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* busy indicator */
#detailLoading, #itemListLoading, #permissionListLoading,
#clearAuditLogFormLoading, #raiseUpdateConfigurationEventFormLoading,
#reloadProductsFormLoading, #setCreatedByFormLoading, #setTenantFormLoading {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: url('images/ajax-loader.gif') no-repeat center #fff;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    z-index: 2;
    opacity: 0.75;
}

.ap-busyParent {
    display: block;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* special formatting */
.tab-content {
    padding-top: 20px;
}

dd {
    margin-bottom: 10px;
}

.table td.ap-btn {
    padding-top: 3px;
    padding-bottom: 3px;
}

div.ap-errortext, div.ap-infotext {
    margin-bottom: 10px;
}

.copy-clipboard {
    float: right;
}

/* autocomplete menu */
ul.ui-autocomplete {
    border: 1px solid #ddd;
    background-color: #ccedff;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ap-hand {
    cursor: pointer;
}

div.ap-message {
    padding: 5px 10px;
}

/* sorting function in headers */
div.ap-sortedHeader {
}

i.ap-sortedHeader {
    padding-left: 5px;
}

span.ap-nav-icon {
    width: 38px;
    display: inline-block;
    text-align: center;
}

/*  treeview */
ul.fancytree-container {
    min-height: 500px;
}
