@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers

<div class="ap-busyParent">
    <div id="raiseUpdateConfigurationEventFormLoading"></div>
    <div id="raiseUpdateConfigurationEventForm">
        @Html.Partial("AjaxNotification", (IEnumerable<biz.dfch.CS.Appclusive.UI.Models.AjaxNotificationViewModel>)ViewBag.Notifications)
        @Html.Partial("Messages")

        @Ajax.ActionLink(GeneralResources.OperationRaiseUpdateConfigurationEvent, "RaiseUpdateConfigurationEvent", null,
            new AjaxOptions() { UpdateTargetId = "raiseUpdateConfigurationEventForm", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "showUpdateConfigBusy", OnComplete = "hideUpdateConfigBusy" },
            new { @class = "btn btn-primary" })
    </div>
</div>

@using (Html.Delayed(null, "raiseUpdateConfigurationEventForm"))
{
    <script type="text/javascript">

        function showUpdateConfigBusy() {
            $("#raiseUpdateConfigurationEventFormLoading").show();
        }
        function hideUpdateConfigBusy() {
            $("#raiseUpdateConfigurationEventFormLoading").hide();
        }

    </script>
}
