@model IEnumerable<biz.dfch.CS.Appclusive.UI.Models.Core.Node>

@{
    ViewBag.Title = "Nodes List";
}
@section Title{
    <h2>Nodes (Inventory)</h2>
}
@Html.Partial("ItemList", Model)

@*<ul class="pagination">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>*@
