@using biz.dfch.CS.Appclusive.UI.App_LocalResources
@using biz.dfch.CS.Appclusive.UI.Helpers
@using biz.dfch.CS.Appclusive.UI.Models

@if (ViewBag.Paging != null && ViewBag.Paging is PagingFilterInfo && (ViewBag.Paging.NextLink != null || ViewBag.Paging.PreviousLink != null))
{
    string controllerName = (string)ViewContext.Controller.ControllerContext.RouteData.Values["controller"];
    if (ViewBag.AjaxPagingController != null)
    {
        controllerName = ViewBag.AjaxPagingController;
    }
    AjaxOptions ajaxOptions = new AjaxOptions() { UpdateTargetId = ViewBag.AjaxPagingTargetId, InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnBegin = "showBusy", OnComplete = "hideBusy" };
    if (ViewBag.AjaxRouteValueDictionary.ContainsKey("orderBy"))
    {
        ViewBag.AjaxRouteValueDictionary["orderBy"] = HttpContext.Current.Request.QueryString["orderBy"];
    }
    else
    {
        ViewBag.AjaxRouteValueDictionary.Add("orderBy", HttpContext.Current.Request.QueryString["orderBy"]);
    }

    <ul class="pagination">
        @if (ViewBag.Paging.PreviousLink != null)
        {
            <li>
                @{ ((RouteValueDictionary)ViewBag.AjaxRouteValueDictionary)["skip"] = ViewBag.Paging.PreviousSkipCount; }
                @AjaxHelperExtensions.IconActionLink(Ajax, "fa fa-angle-left", ViewBag.AjaxPagingAction, controllerName, ViewBag.AjaxRouteValueDictionary, ajaxOptions, null)
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled"><i class="fa fa-angle-left"></i></a>
            </li>
        }

        @if (ViewBag.Paging.NextLink != null)
        {
            <li>
                @{ ((RouteValueDictionary)ViewBag.AjaxRouteValueDictionary)["skip"] = ViewBag.Paging.NextSkipCount; }
                @AjaxHelperExtensions.IconActionLink(Ajax, "fa fa-angle-right", ViewBag.AjaxPagingAction, controllerName, ViewBag.AjaxRouteValueDictionary, ajaxOptions, null)
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled"><i class="fa fa-angle-right"></i></a>
            </li>
        }
    </ul>
}