@using biz.dfch.CS.Appclusive.UI.Models

@if (ViewBag.Paging != null && ViewBag.Paging is PagingFilterInfo && (ViewBag.Paging.NextLink != null || ViewBag.Paging.PreviousLink != null))
{
    var orderBy = HttpContext.Current.Request.QueryString["orderBy"];

    <ul class="pagination">
        @if (ViewBag.Paging.PreviousLink != null)
        {
            <li>
                <a href="@Url.Action("Index", new {skip = ViewBag.Paging.PreviousSkipCount, searchTerm = @ViewBag.SearchTerm, orderBy = orderBy})"><i class="fa fa-angle-left"></i></a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled"><i class="fa fa-angle-left"></i></a>
            </li>
        }

        @if (ViewBag.Paging.NextLink != null)
        {
            <li>
                <a href="@Url.Action("Index", new { skip = ViewBag.Paging.NextSkipCount, searchTerm = @ViewBag.SearchTerm, orderBy = orderBy })"><i class="fa fa-angle-right"></i></a>
            </li>
        }
        else
        {
            <li class="disabled">
                <a class="disabled"><i class="fa fa-angle-right"></i></a>
            </li>
        }
    </ul>
}