@using biz.dfch.CS.Appclusive.UI.Navigation
@{
    long cartId = PermissionDecisions.Current.ShoppingCartId;
    string cartUrl = null;
    if (cartId > 0)
    {
        cartUrl = Url.Action("Details", "Carts", new { id = cartId });
    }
    if (cartId <= 0)
    {
        cartUrl = Url.Action("Index", "Carts");
    }
}
@if (cartUrl != null)
{
    <a href="@cartUrl" style="margin-top:3px; margin-right: 8px; float: left;"><i class="fa fa-cart-plus fa-2x"></i></a>
}
