@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <table class="table table-striped table-hover">
        <caption>This table shows all modifications to the underlying entities</caption>
        <thead>
            <tr>
                <th>EntityType</th>
                <th>EntityState</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auditTail in ViewBag.AuditTrails)
            {
                <tr>
                    <td>@auditTail.EntityType</td>
                    <td>@auditTail.EntityState</td>
                    <td>@auditTail.Created</td>
                </tr>
            }
        </tbody>
    </table>
        </ul>
