<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="biz.dfch.CS.Appclusive.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="biz.dfch.CS.Appclusive.UI.EntitySearch" type="biz.dfch.CS.Appclusive.UI.Config.EntitySearchConfigurationSection" requirePermission="false" />
    <section name="biz.dfch.CS.Appclusive.UI.Navigation" type="biz.dfch.CS.Appclusive.UI.Navigation.NavigationConfigurationSection" requirePermission="false" />
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="login" />
    </authentication>
    <!--<authentication mode="Windows" />-->
    <!--<globalization uiCulture="de-CH" culture="de-CH" />-->
    <globalization uiCulture="auto" culture="auto" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <biz.dfch.CS.Appclusive.UI.Properties.Settings>
      <setting name="AppclusiveApiBaseUrl" serializeAs="String">
        <!--<value>http://appclusive/api/</value>-->
        <value>http://172.19.115.33:80/Appclusive/api/</value>
      </setting>      
      <setting name="SearchLoadSize" serializeAs="String">
        <!-- loads up to this number from API using continuation and then determines distinct results -->
        <value>500</value>
      </setting>
      <setting name="DefaultLoginDomain" serializeAs="String">
        <value>W2012R2-T6-10</value>
      </setting>
      <setting name="DefaultLoginUsername" serializeAs="String">
        <value>Administrator</value>
      </setting>
    </biz.dfch.CS.Appclusive.UI.Properties.Settings>
  </applicationSettings>

  <biz.dfch.CS.Appclusive.UI.EntitySearch>
    <entities>
      <!-- 
          entityname: definition with entityname 'default-values' is used for all not defined entities
          filter:  filter expression -> "substringof('{0}',Name)" -> {0} will be filled by the search term see https://msdn.microsoft.com/en-us/library/hh169248(v=nav.90).aspx
          display: Expression or property name to show as result-Value
          searchkey: will be used as search-term after autocomplete entry is selected        
          orderby: Standard order-by expression -> Name
      -->
      <add entityname="default-values" filter="substringof(tolower('{0}'),tolower(Name))" display="{Name}" searchkey="Name" />
      <add entityname="AuditTrail" filter="substringof('{0}',EntityType)" display="EntityType" searchkey="EntityType" />
      <!--<add entityname="Approval" filter="Status eq '{0}'" display="{Status}" searchkey="Status" select="Id,Status" />-->
      <add entityname="CatalogueItem" filter="substringof(tolower('{0}'),tolower(Name))" display="{Name}" searchkey="Name" />
      <add entityname="Endpoint" filter="substringof(tolower('{0}'),tolower(Name))" display="{Name}" searchkey="Name" />
      <add entityname="Order" filter="substringof(tolower('{0}'),tolower(Name))" display="{Name}" searchkey="Name" />
      <add entityname="User" filter="substringof(tolower('{0}'),tolower(Name))" display="{Name} ({ExternalType} - {ExternalId})" searchkey="Name" />
      <!--<add entityname="Order" filter="substringof('{0}',Name)" display="{Name} - {Created}" searchkey="Name" />-->
      <add entityname="Node" filter="substringof(tolower('{0}'),tolower(Name))" display="{Name}" searchkey="Name" orderby="Name" />
    </entities>
  </biz.dfch.CS.Appclusive.UI.EntitySearch>

  <biz.dfch.CS.Appclusive.UI.Navigation>
    <!-- 
      permission: attribute is optional, if missing it is string.Format("Apc:{0}CanRead", entryConfig.Controller); //Apc:AcesCanRead
                  * = always allowed
      name: will be translated by GeneralResources.resx
    -->
    <navigationGroups>
      <add name="Core">
        <navigationEntries>
          <add name="Catalogue" controller="Catalogues" action="Index" icon="fa-book" />
          <add name="Product" controller="Products" action="Index" icon="fa-bicycle" />
          <add name="Node" controller="Nodes" action="Tree" icon="fa-cubes" />
          <add name="Cart" controller="Carts" action="Index" icon="fa-shopping-cart" />
          <add name="Order" controller="Orders" action="Index" icon="fa-ship" />
          <add name="Job" controller="Jobs" action="Index" icon="fa-spinner" />
          <add name="Approval" controller="Approvals" action="Index" icon="fa-thumbs-up" />
          <add name="KeyNameValue" controller="KeyNameValues" action="Index" icon="fa-database" />
          <add name="EntityKind" controller="EntityKinds" action="Index" icon="fa-cogs" />
          <add name="Gate" controller="Gates" action="Index" icon="fa-subway" />
          <add name="ManagementUri" controller="ManagementUris" action="Index" icon="fa-external-link" />
          <add name="ManagementCredential" controller="ManagementCredentials" action="Index" icon="fa-credit-card" />
          <add name="CostCentre" controller="CostCentres" action="Index" icon="fa-balance-scale" />
          <add name="Tenant" controller="Tenants" action="Index" icon="fa-university" />
          <add name="Customer" controller="Customers" action="Index" icon="fa-child" />
          <add name="ContractMapping" controller="ContractMappings" action="Index" icon="fa-pencil-square-o" />
          <add name="CimiTarget" controller="CimiTargets" action="Index" icon="fa-map-signs" />
        </navigationEntries>
      </add>
      <add name="Diagnostics">
        <navigationEntries>
          <add name="AuditTrail" controller="AuditTrails" action="Index" icon="fa-user-secret" />
          <add name="Endpoint" controller="Endpoints" action="Index" icon="fa-terminal" />
          <add name="HealthCheck" controller="HealthChecks" action="Index" icon="fa-medkit" />
        </navigationEntries>
      </add>
      <add name="Security">
        <navigationEntries>
          <!--<add name="Ace" controller="Aces" action="Index" icon="fa-umbrella" />-->
          <add name="Acl" controller="Acls" action="Index" icon="fa-briefcase" />
          <add name="User" controller="Users" action="Index" icon="fa-user" />
          <add name="Role" controller="Roles" action="Index" icon="fa-user-secret" />
          <add name="Permission" controller="Permissions" action="Index" icon="fa-terminal" />
        </navigationEntries>
      </add>
      <!--<add name="VDI">
        <navigationEntries>
          <add name="VDI_PERSONAL" controller="Carts" action="VdiPersonal" icon="fa-terminal" permission="Apc:CartItemsCanCreate" />
          <add name="VDI_TECHNICAL" controller="Carts" action="VdiTechnical" icon="fa-terminal" permission="Apc:CartItemsCanCreate" />
        </navigationEntries>
      </add>-->
      <add name="SpecialOperations" controller="SpecialOperations" action="Index" icon="fa-life-ring">
        <navigationEntries>
          <add name="SetCreatedBy" permission="Apc:SpecialOperationsCanSetCreatedBy" />
          <add name="ClearAuditLog" permission="Apc:SpecialOperationsCanClearAuditLog" />
          <add name="ReloadProducts" permission="Apc:SpecialOperationsCanReloadProducts" />
          <add name="SetTenant" permission="Apc:SpecialOperationsCanSetTenant" />
          <add name="RaiseUpdateConfigurationEvent" permission="Apc:SpecialOperationsCanRaiseUpdateConfigurationEvent" />
        </navigationEntries>
      </add>

      <add name="just-icons">
        <!-- used for icons in node-tree for other EntityKinds-->
        <navigationEntries>
          <add name="biz.dfch.CS.Appclusive.Core.com.swisscom.cms.Mos" icon="fa-life-ring" />
          <add name="com.swisscom.cms.malwareprotection" icon="fa-shield" />
        </navigationEntries>
      </add>
    </navigationGroups>
  </biz.dfch.CS.Appclusive.UI.Navigation>

</configuration>